# Storage Configuration
# LOCAL_STORAGE_DIR can be an absolute path or a path relative to the project root. Defaults to "./storage" if not set.
LOCAL_STORAGE_DIR=./storage

# Environment Mode (development / production)
# Next.js mendeteksi secara otomatis:
# - Mode Dev (npm run dev) -> NODE_ENV=development. Folder tmp ditaruh di "./public/tmp" projek.
# - Mode Prod (npm run start di VPS) -> NODE_ENV=production. Folder tmp menggunakan folder default OS VPS (os.tmpdir()).
NODE_ENV=development

# Opsional (kalau ingin override domain app)
NEXT_PUBLIC_APP_URL=http://localhost:3000
